.upload{
   width : 60%;
   margin:  1rem auto;
}

.dropzone-ui{
   color  : rgb(0, 106, 255);
   border-color: rgb(0, 106, 255);
}

.upload-show {
   /* margin-top : 1rem; */
   border : 1px solid #ddd;
   height : 400px;
   display: flex;
}

.upload-image{
   width : 70%;
   border-right: 1px solid #ddd;
   height : 100%;
   display : flex;
   justify-content : center;
   align-items : center;
}

.upload-image img{
   max-height: 400px;
   max-width: 700px;
  
}

.upload-predict .license-plate{
   color : #fff;
   background-color : #007bff
}