.header-main ul li {
   list-style: none;
}

.header{
   height : 60px;
   /* background-color : #ddd; */
   width : 100%;
}
.header-main{
   background-color : #fff;
   width: 80%;
   height : 70%;
   margin: auto;
   display: flex;
   flex-direction: row;
}
.logo {
   width : 30%;
   display: flex;
   align-items : center;
   justify-content : center;
}
.logo img{
   width : 300px;
   height : 25px;
   
}
.menu {
   width : 60%;
   margin-left: auto;
}
.menu ul{
   display: flex;
   flex-direction: row;
   /* align-items : space-between; */
   justify-content: space-around;
   font-size: 1.2rem;
}

.menu ul li button{
   background-color: rgb(0, 106, 255);
   outline: none;
   border: none;
   border-radius:3px;
   width : 100px;
   height : 30px;
   color : #fff;
   padding : 3px;
   font-weight: 400;
   letter-spacing:0.8px;
   cursor: pointer;

}
.menu ul li:hover{
   color : rgb(0, 106, 255);
   cursor: pointer;
}

.menu ul li button:hover{
   background-color :rgb(33, 37, 41);
}